<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>
<div class="row">
    <div class="container">
        <div class="col-xs-4">
            <p th:text="${myvar1}">November 6,2017</p>
            <p th:text="${myvar2}">Monday</p>
        </div>
    </div>
</div>

<p>Hello Everyone!</p>
        <p>This is information about me</p>
        <div>Here we go!</div>
        <h1>Name</h1>
        <p>Travis Gray </p>
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAALtAAAAJGQyZDYzYTlkLWNjOWQtNDY5My1hZGE1LTI5MTE0NWM0MzBlOQ.jpg"/>
        <h2>Computer Number</h2>
        <p>13</p>
            <h3>Where You Live</h3>
            <span>Frederick,MD</span>
            <h4>Favorite Movie</h4>
            <img src="https://upload.wikimedia.org/wikipedia/en/9/95/Law_abiding_citizen_ver5.jpg"/>
            <span>Law Abiding Citizen</span>
            <h5>Favorite Quote</h5>
            <p>Friedrich Nietzsche — 'If you know the why, you can live any how.</p>
            <img src="https://lh6.ggpht.com/IJlVOlnUT_fSxN_59O1cTQOgimRUsNiTdMaCNE2U-GEyuLswL81jK-5KUSNn1OmHnoDNMcXMNxQoFy1BwothjCo-J4Wt=s0"/>
            <h6>Extra Stuff</h6>
            <p>I like to ride dirtbikes!</p>
            <img src="http://themepack.me/i/c/749x468/media/g/1140/dirt-bike-theme-wx1.jpg"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>